*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: cornflowerblue;
  font-family: 'Avenir', sans-serif;
  font-size: 15px;
}

strong {
  font-weight: bold;
}

.fa {
  color: black;
}

/*phone screen*/
.container {
    margin: 2rem auto;
    width: 387px;
    height: 667px;
    background-color: #FFFFFF;
    overflow: scroll;
}

/* Status bar*/
.status {
  display: inline-flex;
  background-color: #FAFAFA;
  font-size: .7rem;
  width: 100%;
  height: 20px;
  color: black;
  margin: 0;
  padding-top: 5px;
}

.signal {
  padding: 0 5px 0 5px;
}

.wifi {
  padding: 0 5px 0 5px;
}

.clock {
  padding: 0 92px 0 92px;
}

.bluetooth {
  padding: 0 2px 0 16px;
}

.battery {
  padding-left: 2px;
}

/*nav bar*/

nav {
  display: inline-flex;
  background-color: #FAFAFA;
  width: 100%;
  height: 44px;
}

.arrow-left {
  margin: auto 0;
  padding-left: 7px;
}

#blue {
  color: #007AFF;
}

.route {
  margin: auto 0;
  color: #007AFF;
  padding-left: 6px;
  padding-top: 3px;
  font-size: 17px;
}

.stop {
  margin: auto 0;
  padding-left: 35px;
  font-size: 17px;
  font-weight: bold;
}



img {
  width: 100%;
  height: 252px;

}

/* List of bus lines that serve this stop */

.line {
  display: inline-block;
  background-color: #4A4A4A;
  border-radius:5px;
  width: 2.3rem;
  height: 2.1rem;
  color: white;
  padding: 2.5px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 4px;
  padding-top: 9px;
}

.bus-lines {
  /*overflow-x: scroll;
  overflow-y: hidden;*/
  padding-left: 5px;
}

.bus-lines .serviced-by .ticker {
  background-color: #FFFFFF;
}

.serviced-by {
  display: inline-flex;
  margin: .5rem;
}

.serviced-by h3 {
  margin: auto 0;
  padding-left: .5rem;
}

/*upcoming bus information*/

.ticker {
  display: inline-flex;
  margin: 4px 0;
  font-size: 16px;
  padding: 10px 0;
  border-bottom: 1px solid grey;
}

.direction {
  width: 55%;
  margin-left: 15px;
  /*border: 1px solid blue;*/
}

.time {
  padding-top: 9px;
  margin-right: 20px;
  /*border: 1px solid purple;*/
}

.upcoming {
  /*border: 1px solid orange;*/
  padding: 6px 15px;
  overflow: hidden;
}

.approaching {

  margin-left: 12px;
}

.change {
  margin-left: 90px;
}
